.navbar{
    padding: 0px;
}

.navbar-nav .nav-item{
    /* margin: 30px; */
    background-color: #495fa6;
    padding: 0px;
    background-size:contain;
    /* border-radius: 15px; */
    width: 200px;
    margin: 0;
}

.navbar-nav .nav-link{
    color:#f6ae84;
    text-align: center;
    font-size: 20px;
}

.navbar-nav .nav-item:hover{
    background-color: #f6ae84;
}

.navbar-nav .nav-link:hover{
    color: #495fa6;
}

#navbarNav{
    background-color: #495fa6;
    /* height: 60px; */
}

.navbar .navbar-collapse{
    text-align: center;
}

.about-row{
    padding: 5em;
}

.work-experience .heading{
    color: #495fa6;
    font-style:italic;
}

.work-item{
    border: #495fa6;
    border-style: solid;
    border-radius: 10px;
}

.job-description{
    text-align: justify;
}

.heading{
    color: #495fa6;
    font-style:italic;
}
.form-label{
    color: #495fa6;
    font-style:italic;
    font-weight: bold;
}

.btn{
    background-color: #495fa6;
    width: 200px;
    color: #f6ae84;
    font-size: large;
}

.btn:hover{
    background-color: #f6ae84;
    color: #495fa6;
    border-color: #495fa6;
}

.card:hover{
    border: #f6ae84;
    border-style: solid;
}